.h1{
    height: 50px;
    width: 800px;
    margin: auto;
    padding-top: 10px;
    text-align: center;

    background-color: brown;
    color: white;


}
.h2{

    height: 50px;
    width: 800px;
    padding-top: 15px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    background-color:chocolate;
    color: white;


}