<!--
    <input type="text" [(ngModel)]="choice">
    <div [ngSwitch]="choice">

    <div *ngSwitchCase="1">u have selected marathi</div>
    <div *ngSwitchCase="2">u have selected Hindi</div>
    <div *ngSwitchCase="3">u have selected English</div>
    <div *ngDefault>Invalid choice</div>

    
</div>

<div *ngFor="let x of fruits">
    x
{{x}}
</div> -->


<input type="text" [ngModel]="fevourite">

<div [ngSwitch]=favourite>

    <div *ngSwitchCase="1">Chicken Lolipop </div>
    <div *ngSwitchCase="2">Chicken Khima</div>
     <div *ngSwitchCase="3">Chicken Tandoori</div>

    </div>

</div>

