<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container" class="jumbotron">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p *ngIf="loginstatus">{{msg}}</p>
                <label for="">username</label><br>
                <input type="text" [(ngModel)]="username">
                <br>
                <label for="password">password</label> <br>
                <input type="text" [(ngModel)]="password">
                <br><br>
                <button class="btn btn-danger" (click)="loginmathod()">login</button>
            </div> 

            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>