<div class="container">
     <p>Weolcome{{username}}</p><br>


     <button class="btn btn-primary" (click)="display()">Display</button>
     <br><br>

     <table class="table table-hover table-striped table-bordered">
         <thead>
             <tr>
             <th scope="col">#</th>
             <th scope="col">Name</th>
             <th scope="col">Age</th>
             <th scope="col">Action</th>
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let item of students">
                 <td>{{item.id}}</td>
                 <td>{{item.name}}</td>
                 <td>{{item.age}}</td>
                 <td><a routerLink="#">Edit</a><a routerLink="#">Delete</a></td>

             </tr>
         </tbody>
     </table>
  </div>